<div class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true"
    *ngIf="loading">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block text-left overflow-hidden transform transition-all align-middle">
            <div class="flex">
                <div class="flex justify-center items-center">
                    <div class="border-primary animate-spin inline-block w-14 h-14 border-8 border-x-transparent rounded-full" role="status">
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>